@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tile {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    font-family: "Noto Sans Georgian", "Noto Sans", Arial, Helvetica, sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(70, 70, 70);
    position: relative;
}
.cursor {
    width: 2px;
    height: 80%;
    background-color: rgb(70, 70, 70);
    animation: blink 1s step-start infinite;
    position: absolute;
    left: 50%;
    top: 10%;
  }
  
  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    50.01%, 100% {
      opacity: 0;
    }
  }

.tiles {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.space {
    border: none;
    width: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.language_btn {
    width: 7rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.language_img {
    width: 20%;
    height: auto;
}

.success {
    background-color: rgb(153, 255, 0);
    color: rgb(0, 90, 0);
}

.fail {
    background-color: rgb(255, 101, 101);
    color: rgb(204, 0, 0);
}

.check-btn {
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.flag-picture {
    margin: 2rem;
}