.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal {
    position: relative;
    background: #ffde24;
    padding: 24px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.25);
    animation: fadeInScale 0.2s ease-out;
  }
  
  .close-btn {
    position: absolute;
    right: 12px;
    top: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #444;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: black;
  }
  
  .modal-title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #222;
    text-align: center;
    
  }
  
  .modal-text {
    font-size: 15px;
    color: #555;
  }
  
  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.92);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  